.jumbotron {
    padding-top: 2rem;
    background-color: #e2edff;
}

/* style about me  */
.row {
    margin-left: 10px;
}

/* style bagian projek */
#projek {
    background-color: #e2edff;
}

.container-fluid {
    margin-left: 5px;
}

/* medsos ig */
.medsos {
    font-size: 1.2em;
    margin-top: 20px;
}

/* tombol contak */
button {
    background-color: #0e6dfd;
    color: white;
    border-radius: 15px;
    padding: 7px;
}

/* tombol wa */
#wa {
    margin-left: 10px;
}

.tanggal {
    font-size: small;
}


.tombol-wa {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 3.5rem;
    height: 3.5rem;
    background-color: rgb(94, 225, 94);
    font-size: 0.5rem;
    color: #ffffff;
    text-decoration: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border: 2px solid #e2edff;
  }

  .icon-wa{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }